#header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 3rem;
	place-items: center;
	padding-right: 3rem;
	padding-left: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: $tertiary;
	color: $primary;

	#selections {
		display: flex;
		gap: 3rem;

		button {
			background-color: transparent;
			color: $primary;
			border: none;
			font-size: 1rem;
		}

		#visualize-btn {
			font-weight: bold;
		}
	}

	h1 {
		color: $primary;
		font-size: 1.4rem;
	}

	#help-btn {
		justify-self: end;
	}
}
