#info {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $secondary;
	padding: 1rem;

	.node-colors-info {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3rem;

		.node-info-item {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;

			& > div {
				height: 20px;
				width: 20px;
			}

			#info-wall {
				background-color: $wall-node;
			}
			#info-visited {
				background-color: $visited-node;
			}
			#info-unvisited {
				background-color: $unvisited-node;
			}
			#info-path {
				background-color: $path-node;
			}
			#info-start {
				background-color: $start-node;
			}
			#info-end {
				background-color: $end-node;
			}
		}
	}
}
