@keyframes popIn {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

#main {
	flex-grow: 1;
	width: 100%;
	display: grid;
	place-items: center;
	align-items: start;
	background-color: $background;

	#grid {
		display: grid;

		grid-template-columns: repeat(81, 1fr);
		box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.1);

		.grid-node {
			outline: 1px solid $grid-line-color;
			background-color: $empty;
			height: 1.2vw;
			width: 1.2vw;
			cursor: pointer;
			transition: all 0.2 ease;
		}

		.start-node {
			background-color: $start-node;
		}
		.end-node {
			background-color: $end-node;
		}
		.path-node {
			background-color: $path-node;
		}
		.open-set-node {
			background-color: $open-node;
		}
		.closed-set-node {
			background-color: $closed-node;
		}

		.wall-node {
			background-color: $wall-node;
			animation: popIn 0.2s ease-out;
		}

		.temp-node {
			z-index: 100;
			animation: popIn 0.2s ease-out;
		}
	}
}
