$background: #ffffff;
$grid-line-color: rgba(0, 0, 0, 0.2);

$primary: #fff;
$secondary: #2d2d2d;
$accent: #1ca0ff;
$tertiary: #26324c;
$tertiary2: rgba(47, 63, 95, 0.8);

$empty: #fafafa;
$closed-node: #ff4949;
$wall-node: #292929;
$path-node: #efff5e;
$open-node: #56ff91;
$start-node: #ff54aa;
$end-node: #6f5fff;
