$background: #d1d1d1;
$grid-line-color: rgba(0, 0, 0, 0.4);

$primary: #fff;
$secondary: #c8c8c8;
$accent: #1ca0ff;
$tertiary: #26324c;

$unvisitedNode: #fff;
$visitedNode: #ff1c1c;
$wallNode: #1b1b1b;
$pathNode: #e8ff1c;
$openNode: #1cff6b;
$startNode: #ff1c8e;
$endNode: #331cff;
