$background: #d1d1d1;
$grid-line-color: rgba(0, 0, 0, 0.4);

$primary: #fff;
$secondary: #c8c8c8;
$accent: #1ca0ff;
$tertiary: #26324c;

$unvisited-node: #fff;
$closed-node: #ff1c1c;
$wall-node: #1b1b1b;
$path-node: #e8ff1c;
$open-node: #1cff6b;
$start-node: #ff1c8e;
$end-node: #331cff;
